@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container nav {
    background-color: #fff;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: width 0.6s linear;
}

.container nav.active {
    width: 350px;
}

.container nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 0;
    transition: width 0.6s linear;
}

.container nav.active ul {
    width: 100%;
}


.container nav ul li {
    transition: transform 0.6s linear, opacity 0.6s linear;
    transform: rotateY(0deg);
    opacity: 0;
}

.container nav.active ul li{
    opacity: 1;
    transform: rotateY(360deg);
}

.container nav ul li a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}


.icon {
    height: 30px;
    width: 30px;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
    position: relative;
}


.icon:focus {
    outline: none;
}

.icon .line {
    height: 2px;
    width: 20px;
    background-color: #5290f9;
    top: 10px;
    position: absolute;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}