@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    font-family: 'Roboto Mono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 50px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}
